{% extends 'base.html' %}

{% block content %}
<div class="form-container">
    <h2>Iniciar Sesión</h2>
    <form method="POST" action="{{ url_for('login') }}">
        <label for="correo">Correo electrónico</label>
        <input type="email" id="correo" name="correo" required>

        <label for="contrasena">Contraseña</label>
        <input type="password" id="contrasena" name="contrasena" required>

        <button type="submit">Entrar</button>
    </form>
    <a href="{{ url_for('registro') }}" class="registro-link">¿No tienes cuenta? Regístrate aquí</a>
    
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
                {% for category, message in messages %}
                    <li class="flash {{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</div>
{% endblock %}
